WECHAT_ID= 'YOUR WECHAT APP ID'
WECHAT_SECRET='YOUR WECHAT APP SECRET'
WEIBO_ID= 'YOUR WECHAT APP ID'
WEIBO_SECRET='YOUR WECHAT APP SECRET'
MOBILE_WECHAT_ID= 'YOUR MOBILE_WECHAT_ID'
MOBILE_WECHAT_SECRET='YOUR MOBILE_WECHAT_SECRET'
MOBILE_WEIBO_ID= 'YOUR MOBILE_WEIBO_ID'
MOBILE_WEIBO_SECRET= 'YOUR MOBILE_WEIBO_SECRET'
SMS_KEY='YUNPIAN SMS APPKEY'
SENDGRID_USERNAME='SENDGRID USERNAME'
SENDGRID_PASSWORD='SENDGRID PASSWORD'
DATABASE_HOST='DATABASE HOST'
DATABASE_USERNAME='DATABASE USERNAME'
DATABASE_PASSWORD='DATABASE PASSWORD'
REDIS_URL='REDIS URL'
