{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jasmine": true,
    "jest": true,
    "jquery": true,
    "es6": true,
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "max-len": 0,
    "camelcase": 0,
    "no-script-url": 0,
    "no-alert": 0,
    "no-console": 0,
    "no-else-return": 0,
    "func-names": 0,
  },
  "globals": {
    "expect": 0,
    "assert": 0,
    "should": 0,
  }
}
