* {
  box-sizing: border-box;
  outline: none;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.dib-middle {
  display: inline-block;
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer;
  -webkit-user-select: none;
}

.w100p {
  width: 100%;
}

.hidden {
  display: none;
}

.p0 {
  padding: 0 !important;
}

.hidden-xs {
  @include mediaMax($mobile-w) {
    display: none !important;
  }
}

.show-xs {
  @include mediaMin($mobile-w) {
    display: none !important;
  }
}

.red-highlight {
  color: #bf0808;
}

input[type=checkbox] {
  margin-right: 5px;
  position: relative;
  top: -1px;
  outline: none;

  &:focus {
    border: none;
  }
}

$input-height: 45px;

textarea,
input[type=text],
input[type=date],
input[type=password] {
  outline: none;
  border: 1px solid #dedede;
  padding: 0 8px;
  transition: all 0.3s;
  height: $input-height;
  font-size: 1.5rem;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 2px;
  color: #aeaeae;

  &:focus {
    border-color: #aaa;
    color: #333;
  }
}

textarea {
  padding: 10px;
}

select[disabled] {
  cursor: not-allowed;
}

.select-wrapper {
  display: inline-block;
  border: 1px solid #dedede;
  border-radius: 3px;
  line-height: 22px;
  margin: 5px 10px 5px 0;
  padding: 5px 20px 5px 10px;
  position: relative;

  &::after {
    @extend .iconfont;
    content: '\e609';
    color: #555;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) scale(.8);
    font-size: 12px !important;
  }

  select {
     -webkit-appearance: none;
    background: transparent;
    border: none;
    outline: 0;
    width: 100%;
    min-height: 28px;
  }
}

.form-group {
  position: relative;
  .form-side {
    right: 1px;
    position: absolute;
    top: 1px;
    height: 100%;
    height: calc(100% - 2px);
    font-size: 1.3rem;
    padding: 0 15px;
    color: #aeaeae;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    align-items: center;
    transition: all .3s;
    overflow: hidden;

    &:hover {
      background-color: #f5f5f5;
      color: #333;
    }
  }
}

input[type=password] {
  letter-spacing: 2px;
}

.btn {
  background: $color-blue;
  border: 1px solid darken($color-blue, 3%);
  border-bottom-width: 2px;
  border-radius: 2px;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;

  &:hover {
    background-color: lighten($color-blue, 5%);
  }

  &.btn-large {
    line-height: $input-height - 10px;
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
  }

  &.btn-inline {
    padding: 5px 25px;
  }

  &.is-inactive {
    background-color: lighten($color-blue, 20%);
    border-color: lighten($color-blue, 10%);
    cursor: wait;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.social-button-style {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: flex;
  color: #fff;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid #000;
  border-bottom-width: 2px;

  span {
    margin-left: 5px;
  }

  &.weibo {
    background-color: $color-weibo;
    border-color: darken($color-weibo, 3%);

    &:hover {
      background-color: darken($color-weibo, 3%);
    }
  }

  &.wechat {
    background-color: $color-wechat;
    border-color: darken($color-wechat, 3%);

    &:hover {
      background-color: darken($color-wechat, 3%);
    }
  }
}

.iconfont.social-icon {
  font-size: 20px;
  text-align: center;
  border-radius: 2px;
}
