@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1462848700_485814.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1462848700_485814.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1462848700_485814.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1462848700_485814.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1462848700_485814.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont';
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;

  &.icon-weibo::after {
    content: '\e600';
  }

  &.icon-wechat::after {
    content: '\e601';
  }

  &.icon-eye::after {
    content: '\e602';
  }

  &.icon-close::after {
    content: '\e603';
  }

  &.icon-success::after {
    content: '\e604';
  }

  &.icon-error::after {
    content: '\e605';
  }

  &.icon-profile::after {
    content: '\e606';
  }

  &.icon-third::after {
    content: '\e607';
  }

  &.icon-security::after {
    content: '\e608';
  }

  &.icon-select::after {
    content: '\e609';
  }
}
