@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mediaMax($w) {
  @media screen and (max-width: $w) {
    @content;
  }
}

@mixin mediaMin($w) {
  @media screen and (min-width: $w) {
    @content;
  }
}
