// $color-blue: #009fed;
$color-red: #f45757;
$color-green: #24b048;
$color-dark: #688290;
$color-blue: #08aeff;
$color-black: #222;

$color-weibo: desaturate(#f3122b, 20%);
$color-wechat: desaturate(#17b64c, 20%);

$color-gradient-blue: linear-gradient(to top, darken($color-blue, 5%), $color-blue);

$header-h: 50px;

$mobile-w: 768px;
$container-w: 1200px;

$offset-of-vertical: -270px;
