.mb-input {
  margin-bottom: 15px;
}

.component-welcome {
  background-color: #fff;
}

.component-welcome-container {
  max-width: 80vw;
  margin: 0 auto;
  height: 100vh;
  @include flexCenter;
  padding-bottom: 50px;
}

.success-tip {
  @include flexCenter;
  font-size: 2.5rem;
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 20px;
}

.icon-success {
  @include flexCenter;
  background-color: $color-green;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 3.5rem;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

.welcome-desc {
  color: #4A4A4A;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 15px;
}

.go-setting {
  color: $color-blue;
  margin-top: 10px;
}

.user-info {
  @include flexCenter;
}

.info-wrapper {
  margin-left: 40px;
  margin-top: 30px;
  width: 260px;
}
