@import 'normalize';
@import 'share/variable';
@import 'share/mixin';
@import 'share/common';
@import 'share/icon';
@import 'share/tooltip';
@import 'modals/common';

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}
body {
  font-size: 14px;
  font-family: 'Helvetica Neue', 'Helvetica','Hiragino Sans GB', 'PingHei', 'PingFang SC', 'STHeitiSC-Light', 'Microsoft YaHei','Lantinghei SC', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #222;
}

// common scss, all page include
.component-header {
  @import 'components/header';
}

.component-wrapper {
  @import 'components/message';
}

.component-avatar {
  @import 'components/avatar';
}

.component-welcome {
  @import 'components/welcome';
}

// page only scss
.sessions-controller,
.signup-new {
  @import 'sessions/new';
}

.users-show {
  @import 'users/show';
}
