& {
  background-color: #efefef; padding-top: $header-h;
  padding-bottom: 50px;
}

$margin: 25px;
.padding {
  padding: 10px 20px;
}

.mb-input {
  margin-bottom: 10px;
}

.mb-bottom {
  margin-bottom: $margin;
}

.link {
  color: $color-blue;
  display: inline-block;
  margin: 0 3px;

  &:hover {
    color: darken($color-blue, 10%);
  }
}

.user-wrapper {
  margin-top: $margin;
  max-width: $container-w;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;

  @include mediaMax($container-w + 30px) {
    max-width: 95vw;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.section {
  background-color: #fff;
  transition: all .3s;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
  }
}

.section-title {
  font-size: 1.8rem;
}

.section-desc a {
  @extend .link;
}

.left-menu-wrapper {
  width: 30%;
  margin-bottom: $margin;

  @include mediaMin($mobile-w) {
    padding-right: $margin;
  }

  @include mediaMax($mobile-w) {
    width: 100%;
  }

  .component-avatar {
    width: 80px;
    height: 80px;
  }

  .section.basic-userinfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include mediaMax($mobile-w) {
      justify-content: center;
    }

    .nickname {
      font-size: 1.8rem;
      margin: 10px;
    }
  }

  .section.menu-items {
    a {
      @extend .padding;
      color: #9B9B9B;
      display: block;
      font-size: 1.6rem;
      transition: all .3s;
      background-color: #fff;

      &.active,
      &:hover {
        color: #222;
      }

      &:hover {
        background-color: #f5f5f5;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #E9E4EA;
      }
    }
  }
}

.main-panel-wrapper {
  width: 100% - 30%;

  @include mediaMax($mobile-w) {
    width: 100%;
  }

  .component-avatar {
    width: 100px;
    height: 100px;
  }
}

input {
  height: 40px;
}

textarea {
  height: 100px;
}

input,
textarea,
.limit-width {
  width: 300px;
}

select {
  margin: 5px 10px;
}

.form-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  label {
    width: 100px;
  }
}

.section.security .section-title {
  margin-bottom: 0;
}

.form-button-group {
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
  @extend .padding;

  .label-text {
    display: inline-block;
    width: 100px;
  }

  .form-button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 100px;
    color: $color-blue;
    border: 1px solid $color-blue;
    border-radius: 3px;
    padding: 3px 8px;
    background-color: #fff;
    transition: all .3s;

    &:hover {
      background-color: $color-blue;
      color: #fff;
    }
  }
}

.section-desc {
  @extend .padding;
  padding-top: 0;
  color: #aeaeae;
}

.section-content.center {
  @include flexCenter;
  padding-bottom: 30px;
}

.change-id-panel .container {
  width: 300px;

  input {
    width: 100%;
  }
}

// 2fa bind
.tfa-container {
  display: flex;
  align-items: center;

  .qr {
    width: 150px;
    height: 150px;
  }

  .qr-form {
    margin: 10px 20px;
    max-width: 320px;

    .qr-form-desc {
      color: #aeaeae;
      margin: 5px 0;
    }

    input {
      width: 100%;
    }
  }
}

.tfa .section-content {
  padding-bottom: 0;
}

.tfa .bottom-link {
  border-top: 1px solid #efefef;
  padding-top: 10px;
  margin-top: 20px;
  line-height: 30px;
}

.third-list .iconfont {
  margin-right: 5px;
  color: #666;
}

.identify-wrapper {
  .select-wrapper {
    width: 100%;
    select {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      height: 28px;
    }
  }

  .old_user_link {
    margin-top: 5px;
  }
}
