<!DOCTYPE html>
jhtml lang="en">
<head>
  <meta charset="UTF-8">
  <title>您的邮箱校验码</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="background-color: #efefef; font-family: 'PingFang SC', 'Microsoft YaHei', Arial;">
  <div style="width: 620px; margin: 80px auto 20px auto; background: #f5f5f5; border-radius: 2px; overflow: hidden; box-shadow: 0px 2px 2px rgba(140, 140, 140, 0.3);">
    <div style="background: #20B6FC; padding: 35px 0 30px 0; text-align: center;">
      <img style="width: 220px; height: 38.354px;" src="http://77g0kq.com1.z0.glb.clouddn.com/gpk_account_logo_white.png" />
    </div>
    <div style="padding: 20px; text-align: center;">
      <%= yield %>
    </div>
  </div>
  <p style="color: #999; font-size: 12px; font-weight: 200; width: 620px; margin: 0 auto 10px auto; text-align: center;">
    这是一封来自极客公园用户中心自动发送的邮件，您无需回复。<br>
    如果您在使用过程中遇到任何问题，欢迎向我们反馈：contact@geekpark.net
  </p>
  <p style="color: #bbb; margin-bottom: 50px; font-size: 12px; font-weight: 200; width: 620px; margin: 0 auto 50px auto; text-align: center;">
    Copyrigth &copy; GeekPark. All rights reserved.
  </p>
</body>
</html>
